In [260]:
import biblio_modules

import pyarrow as py
import pandas as pd
import numpy as np
import time
import pytz

table_merged_PROCESSED = pd.read_csv("../Source/Data_processed/Table_merged.csv", sep=";")

In [261]:
table_merged_PROCESSED

,id_prod,date,session_id,client_id,price,categ,sex,birth
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,11.99,0,f,1967
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,19.37,0,m,1960
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,4.50,0,m,1988
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,6.55,0,f,1989
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,16.49,0,f,1956
...,...,...,...,...,...,...,...,...
687529,1_508,2023-02-28 23:49:03.148402,s_348444,c_3573,21.92,1,f,1996
687530,2_37,2023-02-28 23:51:29.318531,s_348445,c_50,48.99,2,f,1994
687531,1_695,2023-02-28 23:53:18.929676,s_348446,c_488,26.99,1,f,1985
687532,0_1547,2023-02-28 23:58:00.107815,s_348447,c_4848,8.99,0,m,1953
687533,0_1398,2023-02-28 23:58:30.792755,s_348435,c_3575,4.52,0,f,1981

In [262]:
def split_column_using_space(df, new_col1, new_col2, target_col):
    df[[new_col2, new_col1]] = df[target_col].str.split(expand=True)
    return df

split_column_using_space(table_merged_PROCESSED, 'Time', 'Date', 'date')

,id_prod,date,session_id,client_id,price,categ,sex,birth,Date,Time
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,11.99,0,f,1967,2021-03-01,00:01:07.843138
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,19.37,0,m,1960,2021-03-01,00:02:26.047414
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,4.50,0,m,1988,2021-03-01,00:02:38.311413
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,6.55,0,f,1989,2021-03-01,00:04:54.559692
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,16.49,0,f,1956,2021-03-01,00:05:18.801198
...,...,...,...,...,...,...,...,...,...,...
687529,1_508,2023-02-28 23:49:03.148402,s_348444,c_3573,21.92,1,f,1996,2023-02-28,23:49:03.148402
687530,2_37,2023-02-28 23:51:29.318531,s_348445,c_50,48.99,2,f,1994,2023-02-28,23:51:29.318531
687531,1_695,2023-02-28 23:53:18.929676,s_348446,c_488,26.99,1,f,1985,2023-02-28,23:53:18.929676
687532,0_1547,2023-02-28 23:58:00.107815,s_348447,c_4848,8.99,0,m,1953,2023-02-28,23:58:00.107815
687533,0_1398,2023-02-28 23:58:30.792755,s_348435,c_3575,4.52,0,f,1981,2023-02-28,23:58:30.792755

In [263]:
def convert_column_to_datetime(df, column_name):
    df[column_name] = pd.to_datetime(df[column_name],errors='coerce')
    return df
convert_column_to_datetime(table_merged_PROCESSED, 'date',)

,id_prod,date,session_id,client_id,price,categ,sex,birth,Date,Time
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,11.99,0,f,1967,2021-03-01,00:01:07.843138
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,19.37,0,m,1960,2021-03-01,00:02:26.047414
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,4.50,0,m,1988,2021-03-01,00:02:38.311413
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,6.55,0,f,1989,2021-03-01,00:04:54.559692
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,16.49,0,f,1956,2021-03-01,00:05:18.801198
...,...,...,...,...,...,...,...,...,...,...
687529,1_508,2023-02-28 23:49:03.148402,s_348444,c_3573,21.92,1,f,1996,2023-02-28,23:49:03.148402
687530,2_37,2023-02-28 23:51:29.318531,s_348445,c_50,48.99,2,f,1994,2023-02-28,23:51:29.318531
687531,1_695,2023-02-28 23:53:18.929676,s_348446,c_488,26.99,1,f,1985,2023-02-28,23:53:18.929676
687532,0_1547,2023-02-28 23:58:00.107815,s_348447,c_4848,8.99,0,m,1953,2023-02-28,23:58:00.107815
687533,0_1398,2023-02-28 23:58:30.792755,s_348435,c_3575,4.52,0,f,1981,2023-02-28,23:58:30.792755

In [264]:
from datetime import datetime

def clean_data(table_merged_PROCESSED):
    table_merged_PROCESSED['Time'] = table_merged_PROCESSED['Time'].str.replace("24:", "00:", regex=False)
    table_merged_PROCESSED['Timestamp'] = table_merged_PROCESSED['Date'] + ' ' + table_merged_PROCESSED['Time']
    table_merged_PROCESSED = table_merged_PROCESSED.drop(columns=['date','Date','Time'])
    return table_merged_PROCESSED

table_merged_PROCESSED = clean_data(table_merged_PROCESSED.copy())
table_merged_PROCESSED.head()

,id_prod,session_id,client_id,price,categ,sex,birth,Timestamp
0,0_1259,s_1,c_329,11.99,0,f,1967,2021-03-01 00:01:07.843138
1,0_1390,s_2,c_664,19.37,0,m,1960,2021-03-01 00:02:26.047414
2,0_1352,s_3,c_580,4.50,0,m,1988,2021-03-01 00:02:38.311413
3,0_1458,s_4,c_7912,6.55,0,f,1989,2021-03-01 00:04:54.559692
4,0_1358,s_5,c_2033,16.49,0,f,1956,2021-03-01 00:05:18.801198

In [266]:
table_merged_PROCESSED = convert_column_to_datetime(table_merged_PROCESSED, 'Timestamp')
table_merged_PROCESSED

,id_prod,session_id,client_id,price,categ,sex,birth,Timestamp
0,0_1259,s_1,c_329,11.99,0,f,1967,2021-03-01 00:01:07.843138
1,0_1390,s_2,c_664,19.37,0,m,1960,2021-03-01 00:02:26.047414
2,0_1352,s_3,c_580,4.50,0,m,1988,2021-03-01 00:02:38.311413
3,0_1458,s_4,c_7912,6.55,0,f,1989,2021-03-01 00:04:54.559692
4,0_1358,s_5,c_2033,16.49,0,f,1956,2021-03-01 00:05:18.801198
...,...,...,...,...,...,...,...,...
687529,1_508,s_348444,c_3573,21.92,1,f,1996,2023-02-28 23:49:03.148402
687530,2_37,s_348445,c_50,48.99,2,f,1994,2023-02-28 23:51:29.318531
687531,1_695,s_348446,c_488,26.99,1,f,1985,2023-02-28 23:53:18.929676
687532,0_1547,s_348447,c_4848,8.99,0,m,1953,2023-02-28 23:58:00.107815
687533,0_1398,s_348435,c_3575,4.52,0,f,1981,2023-02-28 23:58:30.792755

In [268]:
table_merged_PROCESSED.to_csv('../Source/Data_processed/DateTime_cleaned.csv', sep=';', index=False)